<f:translate key="tx_wedam2fal_domain_model_damfalfile.warninglistheadline"/>:<br/><br/>
<ol>
<li><f:translate key="tx_wedam2fal_domain_model_damfalfile.warningpointone"/></li>
<li><f:translate key="tx_wedam2fal_domain_model_damfalfile.warningpointtwo"/></li>
<li><f:translate key="tx_wedam2fal_domain_model_damfalfile.warningpointthree"/></li>
<li><f:translate key="tx_wedam2fal_domain_model_damfalfile.warningpointfour"/></li>
<li><f:translate key="tx_wedam2fal_domain_model_damfalfile.warningpointfive"/></li>
<li><f:translate key="tx_wedam2fal_domain_model_damfalfile.warningpointsix"/></li>
</ol>
<br/>